<div class="d-flex flex-column">
    <div class="container m-auto">
        <div class="form-group w-100">
            <h1 class="text-center d-block mx-auto w-100">User&nbsp;Dashboard.</h1>
        </div>
        <div class="form-group">
            <div class="w-100">
                <a class="btn-custom text-center" href="/">User Login Page</a><br/>
                <a class="btn-custom text-center" (click)="logout()">Logout</a><br/>
            </div>
        </div>
        <!-- <a class="text-center d-block" [routerLink]="['/']" >Registered User? Go to Login! </a> -->
    </div>
</div>